version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    commit-message:
      prefix: "chore(deps)"
    cooldown:
      semver-patch-days: 3
      semver-minor-days: 7
      semver-major-days: 14
